- threshold = 0.5
- stats = make_stats(spots, threshold)
- if stats.danger_zone.empty?
  ![]()
  No Danger!
- else
  :plain
    ![Zone of Danger](#{stats.danger_image})
  \# #{stats.danger_zone.length} dangerous files out of #{stats.hotspots.length} changed
  \# #{sprintf('%.1f', stats.danger_percent * 100)}% of files contain #{sprintf('%.1f', threshold * 100)}% of danger
  \# Dangerous files
  %table
    %thead
      %tr
        %th
          %a{:href=>URI.join($settings['address'], "/help#Danger_score")}Danger
        %th File
    %tbody
      - stats.danger_zone.each do |file,score|
        %tr
          %td #{sprintf('%.2f',score * 100)}%
          %td=file
