%div.row-fluid
  %div.span2
    %div.sidebar-nav
      %h2
        Projects
        %a.btn.btn-success{href:"https://github.com/login/oauth/authorize?scope=repo&client_id=#{$settings['client_id']}&redirect_uri=#{$settings['address']}/oauth/callback/"} 
          %i.icon-plus-sign.icon-white
          Add
      %ul.nav.nav-list
        %form{action: "#{$urls[:REMOVE_PROJECTS]}", method: "POST", id:"remove-form"}
          - projects.each do |org_name, org|
            %li.nav-header=org_name
            - org.each do |name, repo|
              %li
                %input{type:"checkbox", name: repo.id }
                %a{href:"/hotspots/#{repo.org}/#{name}"} #{name} 
          %br
          %a.btn.btn-primary.btn-danger{onClick: "$('#remove-form').submit();"}
            %i.icon-remove-sign.icon-white
            Remove Projects
